/vendor
/node_modules
/public/build
/public/hot
/bootstrap/cache/*.php
/storage/*.key
/storage/app/*.pid
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*.log
/.env
/.phpunit.result.cache
/.idea
/.vscode
.DS_Store
Thumbs.db
